body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

nav {
    background-color: #ffffff;
    border-bottom: 2px solid #239e61;
    box-shadow: none;
}

nav ul a {
    color: #000 !important;
}

.card {
    padding-bottom: 30px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.card .card-content {
    color: #000;
    background: #f1f1f1;
    border: 2px solid #f1f1f1;
    width: 100%;
}

.card .card-image .card-title {
    position: relative;
    color: #000;
}

.card .card-image {
    text-align: center;
}

.card .card-image img {
    width: 50%;
    display: inline-block;
}

button.waves-effect.waves-light.btn.center {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.select-dropdown li img {
    float: left;
}
.active {
    border: 2px solid #eee;
    min-height: 300px !important;
}
.container-all {
    border: 2px solid #dbdbdb;
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 20px ;
}
.marg-top{
  margin-top: 30px;
}
.container-header {
    width: 100%;
    background: #eee;
    border-bottom: 2px solid #dbdbdb;
    border-bottom-color: #dbdbdb;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
}
.container-all p {
    margin: 0;
    font-weight: bold;
}
.SubContainer-data small {
    display: block;
}
.container-all .container-img img {
    width: 100%;
}
.container-all .container-img {
    border-right: 1px solid #eee;
}
.flex-container {
    display: flex;
    justify-content: flex-start;
}

.flex-container > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    padding-right: 10px;
}
.flex-container > div:nth-child(2) {
    flex: 1;
    text-align: left;
    line-height: 30px;
}

.tabs .tab a {
    color: #000;
    font-weight: bold;
}
.tabs .tab a.active,
.tabs .tab a:hover{
  color: #239e61;
}
.tabs .indicator{
  background-color: #239e61;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
  background: transparent;
}